.event-detail__container {
  padding-bottom: 10vh;
}

.event-detail__head {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-detail__head::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  content: '';
  width: 100%;
  height: 100%;
  z-index: 10;
}

.event-detail__title {
  text-align: center;
  position: relative;
  z-index: 50;
  color: #FFF;
  width: 70%;
}

.event-detail__right-block {
  background-color: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, .2);
  background-color: #F6F6F6;
  margin-top: -7vh;
  margin-left: -3vw;
  position: relative;
  z-index: 50;
  height: max-content;
  border-radius: .25rem;
}

.event-detail__price {
  display: flex;
  align-items: center;
}

.event-detail__price svg {
  transform: scale(1.5);
  fill: #3BD223;
}
.event-detail__price span {
  font-size: .9rem;
}

.event-detail__date {
  display: flex;
}

.event-detail__date svg {
  transform: scale(1.5);
  fill: #B40606;
  margin-top: .5rem;
}

.event-detail__date div {
  width: 90%;
  font-size: .9rem;
  line-height: 1.4em;
}

.event-detail__map {
  padding: 0;
}

.event-detail__map iframe {
  width: 100%;
  height: 40vh;
  border: 0;
}